Q1. What are data structures, and why are they important

Ans Data structures are specialized formats for organizing, storing, and accessing collections of data. They provide efficient ways to manage information based on its characteristics and intended use.
Think of them as containers that hold your data and determine how you can interact with it. Different containers are better suited for different types of items.

Importance of data structues -:
1. Choosing the right data structure significantly impacts the efficiency and performance of your program.
2. Well-chosen data structures can:
3. Simplify data manipulation (adding, removing, modifying elements)
4. Optimize searching and sorting operations
5. Conserve memory usage

Q2.  Explain the difference between mutable and immutable data types with examples


Ans2. Diffrence in mutable and immutable object in python :-

1. In Python, objects can be either changeable (modifiable) or unchangeable (unchangeable).Mutable objects are changeable and immutable object are unchangeable.
2. Mutable objects, such as lists and dictionaries, can be modified after creation, while immutable objects, such as tuples and strings, cannot.
3. Mutability affects how objects are stored and manipulated in memory, impacting performance, memory usage, and concurrency in Python programs.
4. exmpale of mutable & immutable
mutable:-

In [ ]:
#mutabl
list_count = [1,2,3,4,5, "ajat"]

In [ ]:
list_count

[1, 2, 3, 4, 5, 'ajat']

In [ ]:
list_count[0] = 8

In [ ]:
list_count # list is a mutable type variable

[8, 2, 3, 4, 5, 'ajat']

In [ ]:
#immutable
stirng_count = ["ajay", "vijay", "ajay", "vijay"]

In [ ]:
stirng_count # string is a immutable

['ajay', 'vijay', 'ajay', 'vijay']

In [ ]:
stirng_count(1) == "shubham"

TypeError: 'list' object is not callable

Q3. What are the main differences between lists and tuples in Python

Ans3. 1. List is a Ordered, mutable collections of elements.and tuple is  Ordered, immutable collections of elements

2.In list Operations: You can add, remove, or modify elements within a list using indexing and Tuple are Ordered, immutable collections of elements, similar to lists.

Q4 Describe how dictionaries store data

Ans4. Dictionaries store data in this manner way -:
1. Unordered collections: Elements are not stored in a specific order.
2. Unique key-value pairs: Each key acts as a unique identifier for retrieving an associated value.
3. Flexible data: Keys and values can be of various data types (strings, numbers, lists, and even other dictionaries).

Q5 Why might you use a set instead of a list in Python

Ans5 Set are used instead of list because of unordered collections of unique elements. The order doesn't matter, and duplicate entries are not allowed. Sets are useful for checking membership (if an item exists) or finding the intersection/difference between sets. Set is very useful for coding.

Q6 What is a string in Python, and how is it different from a list

Ans6 : String is a  characters arranged in an unchangeable order. Consider writing a sentence, a paragraph, or a piece of material. Each character in the string can be accessed by its index, or position. Substrings can be extracted using slicing. Strings can be joined together and altered using a variety of techniques (find, replace, etc.). differnce between in string & list is string is immutable and list is mutable.

Q7 How do tuples ensure data integrity in Python

Ans7. Ordered, immutable collections of elements, similar to lists. However, once created, the items in a tuple cannot be changed. They provide a secure way to store data that shouldn't be modified. You can access elements using indexing and slicing, but you cannot modify the content. Tuples are useful for representing fixed datasets or configurations

Q8 What is a hash table, and how does it relate to dictionaries in Python

Ans8 In Python, the Dictionary data types represent the implementation of hash tables. The Keys in the dictionary are hashable–they are generated by a hash function which generates a unique result for each unique value supplied to the hash function.
example -:
#zip function
students  = ["arun", "ajay", "bijay"]
marks = [80, 95, 100]

for i in zip(students, marks):
  print(i) # code hash function
  result ('arun', 80)
('ajay', 95)
('bijay', 100)

Q9 Can lists contain different data types in Python

Ans9 You can add, remove, or modify elements within a list using indexing and slicing. Lists are versatile for storing and managing collections that might change.
Example -:
python shopping_list = ["apples", 2, "milk", True] # Mixed data types shopping_list.append("bread") # Adding an item del shopping_list[1] # Removing the second item

In [ ]:
shoping_list = ["apples", 2, "milk", True]
shoping_list

['apples', 2, 'milk', True]

In [ ]:
shoping_list.append("bread")

In [ ]:
shoping_list

['apples', 2, 'milk', True, 'bread']

In [ ]:
shoping_list.remove(2)

In [ ]:
shoping_list

['apples', 'milk', True, 'bread']

Q10 Explain why strings are immutable in Python

Ans10 Strings are immutable in Python for reasons related to efficiency, safety, and design principles. Immutability means that once a string is created, its value cannot be changed. Any operation that appears to modify a string instead creates a new string object.

Q11 What advantages do dictionaries offer over lists for certain tasks

Ans11. So it is more efficient to use dictionaries for the searching of elements as it can be carried out in a much faster manner. Lists are used when it is important to maintain the order of the elements and dealing with data that may get changed in the future.

Q12  Describe a scenario where using a tuple would be preferable over a list

Ans12. You can access elements using indexing and slicing, but you cannot modify the content. Tuples are useful for representing fixed datasets or configurations. There may be some occasions when you don't want your data to be changed. If you have data that's not meant to be changed in the first place — such as critical information or records — you should choose tuple data type over lists.

Q13 How do sets handle duplicate values in Python

Ans13 You can add or remove elements from a set, but you cannot access elements by index (since order doesn't matter). Set operations like union (combining elements), intersection (finding common elements), and difference (finding elements in one set but not the other) are efficient.

Example: ```python unique_fruits = {"apple", "banana", "apple"} # Duplicates are removed if "orange" in unique_fruits: # Checking membership print("Yes, orange is present")

In [ ]:
#set
s1 = {"apple", "banana", "apple"}
s2 = {"apple", "banana", "apple"}

In [ ]:
s1|s2

{'apple', 'banana'}

Q14 How does the “in” keyword work differently for lists and dictionaries

Ans14 The in and not in operator works on dictionaries; it tells you whether something appears or not as a key in the dictionary. It returns two values True or False. The in operator uses different algorithms for lists and dictionaries. For lists, it uses a search algorithm.3 Jan 2017

Q15 Can you modify the elements of a tuple? Explain why or why not

Ans15  No, you cannot directly modify the elements of a tuple after it is created. Tuples are immutable, meaning their contents cannot be changed once they are defined. This is a core characteristic that distinguishes tuples from lists, which are mutable.
Explanation:
Immutability: Tuples are designed to be immutable, meaning you cannot add, remove, or change elements after the tuple is created.
Why Tuples are Immutable: Immutability provides several benefits, including:
Data Integrity: It ensures that the data within a tuple remains consistent throughout its lifespan.
Memory Efficiency: Python can optimize memory usage for immutable objects, as it doesn't need to track changes.
Hashability: Because tuples are immutable, they can be used as keys in dictionaries, a feature that mutable objects like lists cannot do.

Example
# Create a tuple
my_tuple = (1, 2, 3)
# my_tuple[0] = 4  # This will cause a TypeError

Q16 What is a nested dictionary, and give an example of its use case

Ans16 A nested dictionary in Python is a dictionary whose values are themselves dictionaries. This allows for creating complex data structures with multiple levels of organization, where each level is a dictionary.

example-:
company_org_chart = {
    "Marketing": {
        "ID234": "Jane Smith",
        "ID235": "John Doe"
    },
    "Sales": {
        "ID123": "Bob Johnson",
        "ID122": "David Lee"
    },
    "Engineering": {
        "ID303": "Radhika Potlapally",
        "ID321": "Maryam Samimi"
    }

Q17 Describe the time complexity of accessing elements in a dictionary

Ans17 The time complexity of accessing an element in a dictionary is O(1), also known as constant time. This means that accessing a value by its key takes the same amount of time regardless of the dictionary's size. Dictionaries use a hash table to store elements, allowing for efficient lookups.
Explanation:
Hash Table:
Dictionaries internally use a hash table. A hash table stores elements in "buckets" based on a hash function that maps keys to indices in the table.
Constant Time Lookup:
When you access a value using its key, the hash function quickly calculates the corresponding index, allowing direct access to the element. This direct access makes the lookup process independent of the dictionary's size, resulting in O(1) complexity.

Q18 In what situations are lists preferred over dictionaries

Ans18 For quick data look-ups, configurations, or caches, favor dictionaries. For ordered collections and sequence operations, such as maintaining a stack or queue, lists are more suitable.

Q19 Why are dictionaries considered unordered, and how does that affect data retrieval

Ans 19 A dictionary is termed an unordered collection of objects because dictionaries do not maintain any inherent order of the items based on when they were added

Q20  Explain the difference between a list and a dictionary in terms of data retrieval.

Ans 20 In terms of data retrieval, a list accesses elements by their index (a numerical position starting from 0), while a dictionary accesses elements by their key (a unique identifier of any data type). Dictionaries offer faster retrieval than lists because they use a hash function to directly map keys to values.

PRATICAL QUESTIONS

Q1.Write a code to create a string with your name and print it

In [ ]:
#string
print ("shubham")

shubham

Q2.Write a code to find the length of the string "Hello World

In [ ]:
STRING = "Hello World"
len(STRING)

11

 Q3.Write a code to slice the first 3 characters from the string "Python Programming

In [8]:
text = "Python Programming"
slice_text = text[:3]
print(slice_text)
#

Pyt

Q3. Write a code to convert the string "hello" to uppercase

In [10]:
code = "print"
code.upper()

'PRINT'

Q4. Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [11]:
string = ("ilike apple")
string.replace("apple", "orange")

'ilike orange'

Q5 Write a code to create a list with numbers 1 to 5 and print it

In [12]:
LIST = [1,2,3,4,5]

In [13]:
LIST

[1, 2, 3, 4, 5]

Q6 Write a code to append the number 10 to the list [1, 2, 3, 4]

In [14]:
LIST = [1,2,3,4]
LIST.append(10)

In [15]:
LIST

[1, 2, 3, 4, 10]

Q7 Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [16]:
LIST = [1,2,3,4,5]
LIST.remove(3)

In [17]:
LIST

[1, 2, 4, 5]

Q8. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [18]:
LIST = ['a', 'b', 'c', 'd']
LIST[1]

'b'

Q9. Write a code to reverse the list [10, 20, 30, 40, 50].

In [19]:
LIST = [10,20,30,40,50]
LIST.reverse()

In [20]:
LIST

[50, 40, 30, 20, 10]

Q11 Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [21]:
TUPLE = (100,200,300)

In [22]:
type(TUPLE)

tuple

In [23]:
TUPLE

(100, 200, 300)

Q12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [24]:
TUPLE = ('red', 'green', 'blue', 'yellow')
TUPLE[-2]
#

'blue'

Q13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [25]:
TUPLE = (10, 20, 5, 15)
min(TUPLE)

5

Q14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [26]:
TUPLE = ('dog', 'cat', 'rabbit')
TUPLE.index('cat')
#

1

Q15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [27]:
TUPLE = ('apple', 'banana', 'kiwi')
'kiwi' in TUPLE

True

Q16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [28]:
S = {"a","b","c"}

In [30]:
type(S)

set

In [31]:
S

{'a', 'b', 'c'}

Q17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [32]:
S = {1, 2, 3, 4, 5}
S.clear()

In [33]:
S

set()

Q18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [34]:
S = {1, 2, 3, 4}
S.remove(4)

In [35]:
S

{1, 2, 3}

Q19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [36]:
S = {1, 2, 3}
S1 = {3, 4, 5}
S.union(S1)

{1, 2, 3, 4, 5}


Q20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [37]:
S = {1, 2, 3}
S1 = {2, 3, 4}
S.intersection(S1)

{2, 3}

Q21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [38]:
dict = {"name": "shubham", "age": 22, "city": "pune"}

In [39]:
type(dict)

dict

In [40]:
dict

{'name': 'shubham', 'age': 22, 'city': 'pune'}

Q22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [41]:
dict = {'name': 'John', 'age': 25}
dict["country"] = "USA"

In [42]:
dict

{'name': 'John', 'age': 25, 'country': 'USA'}

Q23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [43]:
dict = {'name': 'Alice', 'age': 30}
dict["name"]
#

'Alice'

Q24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [44]:
dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
dict.pop("age")

22

In [45]:
dict

{'name': 'Bob', 'city': 'New York'}

Q25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [46]:
dict = {'name': 'Alice', 'city': 'Paris'}
"city" in dict
#

True

Q26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [47]:
LIST = [1,2,3,4,5]
TUPLE = (1,2,3,4,5)
dict = {"name": "shubham", "age": 22, "city": "pune"}

In [48]:
type(LIST)

list

In [49]:
type(TUPLE)

tuple

In [50]:
type(dict)

dict

Q27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [55]:
LIST = (2,80,8,90)
SORTED_LIST = sorted(LIST)
print(SORTED_LIST)
#

[2, 8, 80, 90]

Q28. Write a code to create a list with strings and print the element at the third index.

In [56]:
shoping_list = ["apples", 2, "milk", True]
shoping_list[2]

'milk'

Q29. Write a code to combine two dictionaries into one and print the result.

In [59]:
dict = {"name": "shubham", "age": 22, "city": "pune"}
dict1 = {"name": "shubham", "age": 22, "address": "jln marg"}
dict.update(dict1)

In [60]:
dict

{'name': 'shubham', 'age': 22, 'city': 'pune', 'address': 'jln marg'}

Q30. Write a code to convert a list of strings into a set.

In [63]:
S = {"shubham","khushi", "shubham"}
s = set(S)

In [64]:
s

{'khushi', 'shubham'}